/* Setup */
body {color: white; background-color: black;}

.material-symbols-rounded {
    border: none;
    background-color: black;
    color: white;
    font-size: 7vh;
}

/* Elements */
.banner {
    position: fixed;
    z-index: 0;
    background-color: black;
    width: 100vw;
    height: 10vh;
}

.topbar {
    background-color: black;
    position: fixed;
    display: flex;
    left: 55%;
    top: 5vh;
}
.topbar a {text-decoration: none; color: white;}

.page {
    color: white;
    background-color: black;
    font-family: "Cal Sans";
    font-size: 2.5vh;
    font-weight: 100;
    position: relative;
    left: 100%;
    text-align: left;
    width: 5vw;
}

.menu {
    width: 50px;
    height: 100px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 2vw;
    top: 10vh;
    width: 100%;
    transition: opacity .15s ease-in-out;
}
.menu.active {opacity: 1; pointer-events: auto;}
.menu a {text-decoration: none; color: white;}

.options {
    position: absolute;
    top: 0;
    text-align: left;
    font-family: "DM Sans";
    font-size: 2vh;
}

.title {
    position: absolute;
    text-align: center;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    font-family: "Cal Sans";
    font-size: 15vh;
    line-height: 80%;
    opacity: 0;
    transition: opacity 1s ease;
}
.title.active {opacity: 1;}

.hl {font-family: "Playfair display"; font-weight: 900; font-style: italic;}

.desc {
    position: absolute;
    text-align: center;
    width: 50vw;
    left: 25vw;
    top: 68vh;
    font-family: "DM Sans";
    opacity: 0;
    transition: opacity 3s ease;
}
.desc.active {opacity: 1;}