/* Setup */
body {color: white; background-color: black;}

.material-symbols-rounded {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 7vh;
}

/* Elements */
.blur {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vw;
    backdrop-filter: blur(50px);
    transition: height .5s ease;
}
.blur.active {height: 12vw;}

.banner {
    position: fixed;
    background-color: transparent;
    z-index: 0;
    width: 100vw;
    height: 10vh;
}

.topbar {
    background-color: transparent;
    position: fixed;
    display: flex;
    left: 55%;
    top: 5vh;
}
.topbar a {text-decoration: none; color: white;}

.page {
    color: white;
    background-color: transparent;
    font-family: "Cal Sans";
    font-size: 2.5vh;
    font-weight: 100;
    position: relative;
    left: 100%;
    text-align: left;
    width: 5vw;
}

.menu {
    width: 50px;
    height: 100px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 2vw;
    top: 10vh;
    width: 100%;
    transition: opacity .15s ease-in-out;
}
.menu.active {opacity: 1; pointer-events: auto;}
.menu a {text-decoration: none; color: white;}

.options {
    position: absolute;
    top: 0;
    text-align: left;
    font-family: "DM Sans";
    font-size: 2vh;
}

.title {
    position: absolute;
    text-align: center;
    left: 15vw;
    top: 15vh;
    width: 70vw;
    font-family: "Cal Sans";
    font-size: 12vh;
    line-height: 80%;
    opacity: 0;
    transition: opacity 1s ease;
}
.title.active {opacity: 1;}

.hl {font-family: "Playfair display"; font-weight: 900; font-style: italic;}

.desc {
    position: absolute;
    text-align: center;
    width: 40vw;
    left: 30vw;
    top: 62vh;
    font-family: "DM Sans";
    font-size: 2.2vh;
    line-height: 97%;
    opacity: 0;
    transition: opacity 2s ease;
}
.desc.active {opacity: 1;}

.btn {
    position: absolute;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: "Cal Sans";
    font-size: 3vh;
    text-align: center;
    padding: .5% 1% .5% .8%;
    width: 15vw;
    border-radius: 10ch;
    top: 75vh;
    left: 42.5vw;
    cursor: pointer;
    transition: background-color .3s, border-radius .1s ease;
}
.btn.active {opacity: 1;}
.btn:hover {background-color: white; color: black; border-radius: .5ch;}